<style>
        /* Réinitialisation des styles de base */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Styles pour le corps de la page */
        body {
            font-family: 'Pixelify Sans', cursive;
            background-color: #f0f0f0;
            text-align: center;

        }
        /* Styles pour l'en-tête */
        header {
            background-color: #333;
            color: white;
            padding: 20px;
        }

        h1 {
            font-size: 36px;
        }

        /* Styles pour la section principale */
        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
        }

        /* Styles pour les éléments du menu */
        .menu-item {
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 20px;
            max-width: 400px;
            margin: 20px;
            text-align: center;
            overflow: hidden;
            position: relative; /* Ajout de la position relative */
        }

        .menu-item img {
            max-width: 100%;
        }

        h2 {
            font-size: 24px;
            margin: 10px 0;
        }

        .order-button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-decoration: none;
            font-weight: bold;
            margin-top: 10px;
            display: inline-block;
            font-size: 20px;
        }

        .order-button:hover {
            background-color: #45a049;
        }
      
.share-icon {
    position: absolute;
    bottom: 91%;
    right: 10px;
    background-color: #fffbb9;
    color: #c3d117;
    padding: -5px;
    border-radius: 7%;
    cursor: pointer;
}

.share-icon:before {
    content: "\2665";
    font-size: 35px;
}

.heart:before {
    content: "\2665";
}
        /* Styles pour la description du menu */
        .menu-description {
            background-color: #fff;
            padding: 20px;
            max-width: 400px;
            margin: 20px;
            text-align: center;
        }

        .menu-description h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .menu-description p {
            font-size: 20px;
            margin-bottom: 10px;
        }

        /* Styles pour les informations de contact */
        .contact-info {
            background-color: #333;
            color: white;
            padding: 20px;
        }

        .phone-link {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }

        /* Styles pour le pied de page */
        footer {
            display: flex;
            justify-content: space-between;
            background-color: #333;
            color: white;
            padding: 20px;
        }

        .footer-left {
            text-align: left;
            flex: 1;
            border: 1px solid white;
            padding: 10px;
        }

        .footer-right {
            text-align: right;
            flex: 1;
            border: 1px solid white;
            padding: 10px;
        }

        video {
            max-width: 100%;
            border: 1px solid #ccc;
            padding: 10px;
        }

        /* Hide AddToAny vertical share bar when screen is less than 981 pixels wide */
        @media screen and (max-width: 100px) {
            .a2a_floating_style.a2a_vertical_style { display: none; }
        }
      .a2a_button_snapchat {
    background-color: yellow;
}
    </style>
